<div class="longread">
    <h2>{{title}}</h2>
    <div class="content">
        {{{content}}}
    </div>
    <div class="pagination">
        {{#prev_page}}
        <a href="{{prev_page}}" class="btn btn-primary">Previous</a>
        {{/prev_page}}
        {{#next_page}}
        <a href="{{next_page}}" class="btn btn-primary">Next</a>
        {{/next_page}}
    </div>
</div>
