<div class="longread-container">
    {{{ content }}}
</div>
<div class="longread-navigation">
    <button id="prev-page" class="longread-nav" disabled>Previous</button>
    <button id="next-page" class="longread-nav">Next</button>
</div>